body { 
  background-image: url(https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/33134f75-0321-4ab8-98da-260bfd0b52a1);
    background-size: 100%;
    background-attachment: fixed;
    color: white; 
}

.btn {
  background-color: #31708E;
  color: #F7F9FB;
}

.card {
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 32rem;
  height: auto;
  display: inline-block;
  margin: 1rem 2rem;
  background-color: rgb(134, 148, 134);
}

.card-img{
  height: auto;
  width: 10rem;
  float: left;
  margin: 1rem;
}

#info-div {
  float: right;
  margin: 1rem;
  width: 12rem;
}

#delete-btn {
  float: right;
  margin-bottom: .5rem;
}

#outfit-card { 
  display: inline-grid;
  width: 20rem; 
  height: 41rem; 
  background-color: rgb(134, 148, 134);
  float: none; 
  margin: 2rem; 
}

.images-div {
  padding-top: 1rem;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  height: 33rem;
}

.item-outfit-image {
  width: 5rem;
  height: auto;
  margin-bottom: .5rem;
}

/*///////////////////////////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 20rem;
  top: 0;
  width: 60%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #5085A5; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #8FC1E3;
  margin: auto;
  padding: auto;
  border: 1px solid #888;
  width: 80%;
  display: block;
  text-align: center;
}

.modal-form {
  display: inline-block;
  margin: auto;
}