body { 
  background-image: url(https://images.unsplash.com/photo-1521866337281-e7207a7159c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: 100%;
    background-blend-mode: overlay;
    background-color: #31708e;
    background-attachment: fixed;
    color: #F7F9FB; 
    font-family: 'Oxygen', sans-serif;
}

/* #nav {
  height: 5rem;
} */

#header {
  font-family: 'Rock Salt', cursive;
  color: #8fc1e3;
}

.info-div {
  margin-left: 2rem;
}

.card-header-tabs {
  margin-right: 0;
  margin-bottom: -.45rem;
  margin-left: 0;
  border-bottom: 0;
}

.nav-item {
  background-color: #8fc1e3;
  color: #F7F9FB;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.nav-link {
  color: #F7F9FB;
}

.nav-link:hover {
  color: #31708e;
}

.nav-tabs .nav-link.active {
  color: #F7F9FB;
  background-color: #31708e;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
  color: #F7F9FB;
  background-color: #31708e;
  height: 27rem;
  width: 25rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.btn {
  background-color: #31708E;
  color: #F7F9FB;
}

#item-add-btn {
  margin-left: 2.5rem;
}

#sort-form {
  float: right;
  margin-right: 3rem;
}

.card {
  border: grey solid 1px;
  border-radius: 5px; 
  padding: 1rem;
  width: 32rem;
  height: auto;
  display: inline-block;
  margin: 1rem 2rem;
  background-color: #687864;
  color: #F7F9FB;
}

#card-header {
  font-family: 'Rock Salt', cursive;
}

.card-img{
  height: auto;
  width: 10rem;
  float: left;
  margin: 1rem;
}

#info-div {
  float: right;
  margin: 1rem;
  width: 12rem;
}

#times-used {
  cursor: pointer;
}

#delete-btn {
  background-color: transparent;
  float: right;
  margin-bottom: .5rem;
}

#add-outfit-btn {
  margin-left: 2.5rem;
}

#outfit-delete-btn {
  background-color: transparent;
  float: right;
  margin-bottom: .5rem;
}

#outfit-card { 
  display: inline-grid;
  width: 22rem; 
  height: 45rem; 
  background-color:#687864;
  float: none; 
  margin: 2rem; 
}

#outfit-header {
  font-family: 'Rock Salt', cursive;
  padding-right: 1rem;
}

.images-div {
  padding-top: 1rem;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  height: 38rem;
}

.item-outfit-image {
  width: 5rem;
  height: auto;
  margin-bottom: .5rem;
}

.card-footer{
  position:absolute;
    bottom:0;
    width: 90%;
  }

#outfit-edit-btn {
  float: left;
}

#outfit-likes{ 
  float: right;
  cursor: pointer;
}

.popover-header {
  background-color: #5085A5;
  color: #f7f9fb;
  font-size: x-large;
}

.popover-body {
  background-color: #5085A5;
  color: #f7f9fb;
  font-size: large;
}
/*///////////////////////////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #8FC1E3;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: block;
  text-align: center;
}

.modal-form {
  display: inline-block;
  margin: auto;
}